@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<StoreWebUI.Models.StoreFrontVM>

<h1> List of StoreFronts</h1>

<table class="table table-striped table-hover">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Store ID</th>
        <th></th>
    </tr>
    @foreach (StoreFrontVM item in Model)
    {
<tr>
    <td>@Html.DisplayFor(modelItem => item.Name)</td>
    <td>@Html.DisplayFor(modelItem => item.Address)</td>
    <td>@Html.DisplayFor(modelItem => item.StoreId)</td>
    <td>
        <button class="btn btn-primary" style="color: white">
            @Html.ActionLink("View Inventory", "Index", "Product", new { p_id = item.StoreId }, new { @style = "color: white" })
        </button>
        <button class="btn btn-primary" style="color: white">
            @Html.ActionLink("View Orders", "StoreOrders", "Order", new { p_id = item.StoreId }, new { @style = "color: white" })
        </button>
    </td>
</tr>
        
    }
</table>